.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
    border-radius: 0 1rem 1rem 0 ;
}
.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    border-radius:1rem 0 0 1rem;
}
.w3-display-container{
    position: relative;
    width:100%;
}
.w3-display-container img{
    display:none;
    width:100%;
    border-radius:1rem;
}
.w3-display-container img:first-child {
    display:block;
}
.w3-display-container:hover .w3-display-hover {
    display: block
}
.w3-display-container:hover span.w3-display-hover {
    display: inline-block
}
.w3-display-hover {
    display: none
}
.w3-display-position {
    position: absolute
}
.w3-button {
    padding:0.7rem;
    background-color:rgb(29,29,29);
    cursor:pointer;
}
.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}
.w3-transparent,.w3-hover-none:hover {
    background-color: transparent !important
}
.w3-hover-none:hover {
    box-shadow: none !important;
}
.w3-black,.w3-hover-black:hover {
}
